extends base.pug

block content
  video(src="/"+video.fileUrl, controls, width="500px", height="300px")
  div
    p=video.description
    small=video.createdAt 
  div 
    small uploaded by 
      a(href=`/users/${video.owner._id}`)=video.owner.username
  if String(loggedInUser._id) === String(video.owner._id)
    div
      a(href=`${video.id}/edit`) Edit Video &rarr;
      br
      a(href=`${video.id}/delete`) Delete Video &rarr;